
.btn
  width: 120px
  height: 40px
  border: 1px solid
  text-transform: uppercase
  font-family: $fontfamilyLR
  transition: $transition
  padding: 0 !important
  text-align: center
  vertical-align: middle
  line-height: 40px
  font-size: 12px
  text-decoration: none

.btn.default
  color: $breadcrubsColor
  background: $white
  border-color: $cart-popup-color-2

.btn.primary
  color: $white
  background: $fontColor
  border-color: $fontColor

.btn:hover
  color: $fontColor
  background: $background
  border-color: $background
  cursor: pointer

::-webkit-scrollbar
  width: 4px

::-webkit-scrollbar-thumb
  border-width: 1px 1px 1px 2px
  border-color: #777
  background-color: #bababa


::-webkit-scrollbar-thumb:hover
  border-width: 1px 1px 1px 2px
  border-color: #555
  background-color: $breadcrubsColor


::-webkit-scrollbar-track
  border-width: 0


::-webkit-scrollbar-track:hover
  border-left: none
  background-color: #eee
