
button, input[type=text], textarea, select, label, a, img
    outline: none

header
    z-index: 3
    position: relative

.top-nav
    overflow: visible !important
    padding: 10px 0
    background: $background
    font-family: $fontfamilyLL
    font-size: 14px

.language-block, .currency-block
    float: left
    position: relative
//
//.language-block:after, .currency-block:after
//    content: "\f2f9"
//    font-family: 'Material-Design-Iconic-Font'
//    font-size: 22px
//    background: $background
//    position: absolute
//    width: 18px
//    height: 18px
//    right: 10px
//    top: 0
//    color: $fontColor
//    text-align: center
//    vertical-align: middle
//    line-height: 18px
//    z-index: 1
//    pointer-events: none

.language-block
    border-right: 1px solid $borderColor
    margin-left: -25px

.language-block__select, .currency-block__select
    border: none
    background: $background
    color: $fontColor
    outline: none
    cursor: pointer

.header-buttons a
    padding: 0 15px
    text-decoration: none
    color: $fontColor
    border-right: 1px solid $borderColor


.header-buttons a:last-child
    padding-right: 0
    border-right: none

.header-buttons a i
    margin-right: 10px
    font-size: 20px
    vertical-align: middle

.header-menu
    padding: 25px 0
    background: rgba(255, 255, 255, 0.9)
    overflow: visible !important

.header-menu .row
    display: flex
    justify-content: space-between

.header-logo a
    font-size: 22px
    font-family: 'Audrey-Normal'
    text-transform: uppercase
    text-decoration: none
    color: $background

.header-menu_menu
    position: relative

.header-menu_menu ul
    padding: 0
    margin: 0

.header-menu_menu ul li
    list-style: none
    display: inline-block

.header-menu_sub-menu
    display: none
    left: 0
    position: relative
    width: 1000px
    background: $white
    top: 40px
    justify-content: space-between
    text-transform: uppercase
    margin-bottom: 20px

.header-menu_sub-menu-wrapper
    left: 0
    position: absolute
    width: 1000px
    height: auto
    display: none

a.header-menu_sub-menu-view-all
    background: $background
    width: 100%
    display: block
    color: $fontColor !important
    text-align: center
    box-sizing: border-box


.header-menu_sub-menu-items
    width: 600px
    padding: 30px 20px
    color: $background

ul.header-menu_sub-menu-items__ul
    column-count: 2
    font-family: $fontfamilyLL

.header-menu_menu li.header-menu_sub-menu-items__li-category
    width: 100%
    float: left
    margin-bottom: 20px

.header-menu_menu li.header-menu_sub-menu-items__li-category:nth-child(2n)
    padding-top: 30px
    border-top: 1px solid $borderColor3
    margin-right: 20px
    box-sizing: border-box

.header-menu_menu li.header-menu_sub-menu-items__li-item
    display: block

.header-menu_menu li.header-menu_sub-menu-items__li-item a:before
    content: ''
    width: 5px
    height: 5px
    background: #8c8c8c
    position: absolute
    top: 15px
    left: 5px
    transition: $transition

.header-menu_menu li.header-menu_sub-menu-items__li-item a
    text-transform: none
    color: $breadcrubsColor
    line-height: 1
    display: inline-block
    padding: 10px 20px
    position: relative

.header-menu_menu li.header-menu_sub-menu-items__li-item a:hover
    color: $background

.header-menu_menu li.header-menu_sub-menu-items__li-item a:hover:before
    background: $background

.header-menu_menu ul li:hover .header-menu_sub-menu
    display: flex

.header-menu_menu ul li:hover .header-menu_sub-menu-wrapper
    display: block

.header-menu_menu ul li a
    text-transform: uppercase
    font-size: 16px
    text-decoration: none
    color: $background
    padding: 20px
    font-family: $fontfamilyLL
    position: relative
    transition: $transition

.header-menu_menu ul li a.header-menu_menu__a:before
    content: ''
    transition: $transition

.header-menu_menu ul li a:hover
    color: $fontColor

.header-menu_menu ul li a.header-menu_menu__a:hover:before
    content: ''
    height: 1px
    width: calc(100% - 40px)
    background: $fontColor
    position: absolute
    bottom: 15px

.header-menu_menu ul li a.select:before
    content: ''
    height: 1px
    width: calc(100% - 40px)
    background: $background
    position: absolute
    bottom: 15px

.header-menu_menu ul li a.bold
    font-family: $fontfamilyLR

.header-rightButtons
    position: relative

.header-rightButtons a
    padding: 20px
    position: relative

.header-rightButtons a i
    font-size: 20px
    color: #333

.header-rightButtons a span.count
    position: absolute
    top: 5px
    right: -15px
    background: #ccb48e
    height: 20px
    width: 20px
    color: #fff
    border-radius: 50%
    text-align: center
    vertical-align: middle
    line-height: 20px
    font-family: $fontfamilyLL
    font-size: 14px

.header-rightButtons-search
    position: relative
    width: 200px
    display: inline-block
    top: -24px

.header-rightButtons-search__input
    position: absolute
    right: 0
    height: 30px
    background: none
    border: none
    padding: 0 15px
    font-size: 0

.header-rightButtons-search__input:focus
    background: $white
    border: 2px solid $fontColor
    font-size: 14px

.header-rightButtons-search i
    position: absolute
    right: 10px
    font-size: 20px
    top: 7px

.header-rightButtons-search__input::-webkit-input-placeholder
    font-size: 0
    color: $breadcrubsColor
    font-family: $fontfamilyLL

.header-rightButtons-search__input:focus::-webkit-input-placeholder
    font-size: 14px