
.slider .owl-carousel
    padding: 0
    margin: 0

.block-up
    top: -76px
    position: relative

.slider .owl-carousel li
    list-style: none
    width: 100%

.slick-next, .slick-prev
    position: absolute
    top: 50%
    width: 50px
    height: 50px
    background: rgba(51, 51, 51, 0.5)
    font-size: 0
    text-align: center
    vertical-align: middle
    line-height: 50px
    z-index: 1
    border: none
    cursor: pointer

.slick-prev
    left: 10px

.slick-prev:before
    content: '\f2fa'
    font-family: 'Material-Design-Iconic-Font'
    font-size: 45px
    color: #e4e2de

.slick-next
    right: 10px

.slick-next:before
    content: '\f2fb'
    font-family: 'Material-Design-Iconic-Font'
    font-size: 45px
    color: #e4e2de

.slick-prev:hover, .slick-next:hover
    background: rgba(51, 51, 51, 0.8)


.product-small-image .slick-next, .product-small-image .slick-prev
    top: calc(50% - 30px)
    background: none

.product-small-image .slick-next:hover:before, .product-small-image .slick-prev:hover:before
    color: $background

.product-small-image .slick-prev
    left: 0

.product-small-image .slick-next
    right: 0


.promo
    display: flex
    justify-content: space-between

.promo-item
    padding-right: 20px

.promo-item:nth-child(3n)
    padding-right: 0

.promo-item-title
    position: absolute
    padding: 20px
    text-transform: uppercase
    color: #fff
    font-family: $fontfamilyLL

.promo-item-title__title
    color: $fontColor

.home-product-title, .home-brand-title
    padding: 40px 0
    text-align: center
    position: relative
    font-family: $fontfamilyLL
    color: $background
    font-size: 22px

.home-product-title:before, .home-brand-title:before
    content: ''
    position: absolute
    height: 1px
    background: #e8e8e8
    width: 100%
    left: 0
    top: 55px

.home-product-title span, .home-brand-title span
    background: #ffffff
    position: relative
    padding: 20px


.home-brand-container
    display: flex
    justify-content: space-between
    padding: 30px
    margin-bottom: 80px

