

.product-page-title
  border-bottom: 1px solid $borderColor2
  padding: 15px 0
  margin: 30px 0
  color: $background
  font-family: $fontfamilyLL
  font-size: 22px
  font-weight: normal

.product-image-block
  width: 50%
  padding-right: 10px
  box-sizing: border-box
  float: left

.product-main-image
  text-align: center
  border: 1px solid $borderColor3

.product-main-image img
  vertical-align: bottom

.product-small-image
  display: flex
  justify-content: space-between
  margin-top: 20px
  overflow: hidden
  position: relative

.product-small-image a
  width: 30%
  text-align: center
  float: left
  border: 1px solid $borderColor3
  margin: 0 10px


.product-small-image a img
  margin: 0 auto

.product-small-image a.active
  border: 1px solid $fontColor

.product-small-image .owl-item
  float: left

.product-small-image .owl-nav.disabled
  display: none

.product-cart
  width: 50%
  padding-left: 10px
  box-sizing: border-box
  float: left

.product-cart-review-raiting
  width: auto
  float: left
  margin-right: 10px

.product-cart-review-raiting i
  font-size: 18px

.product-cart-review a
  color: #8c8c8c
  font-size: 14px
  text-decoration: none
  font-family: $fontfamilyLL
  margin: 0 10px

.product-cart-description
  margin: 35px 0
  font-size: 14px
  color: $background
  font-family: $fontfamilyLL
  line-height: 1.5

.content.product-cart-skus
  overflow: visible

.product-cart-skus:after
  clear: both
  display: table
  content: " "

.product-car-sku
  width: 50%
  float: left
  position: relative
  z-index: 2
  font-family: $fontfamilyLL
  color: $background
  font-size: 14px
  text-transform: capitalize

.product-car-sku label
  position: relative

.product-car-sku__select
  margin: 0 10px
//  padding: 5px
//  height: 35px
//  box-sizing: border-box
//  color: $breadcrubsColor
//  font-family: $fontfamilyLL
//  border: 1px solid $borderColor3
//  cursor: pointer
  width: 70% !important


//.product-car-sku label:after
//  content: "\f2f9"
//  font-family: 'Material-Design-Iconic-Font'
//  font-size: 22px
//  background: $white
//  position: absolute
//  width: 18px
//  height: 15px
//  right: 15px
//  top: 2px
//  color: $breadcrubsColor
//  text-align: center
//  vertical-align: middle
//  line-height: 15px
//  z-index: 1
//  pointer-events: none

.product-cart-price
  margin: 40px 0

.product-cart-price__compare-price
  font-size: 20px
  color: $background
  font-family: $fontfamilyLL
  margin-right: 20px
  position: relative

.product-cart-price__compare-price:before
  content: ''
  width: 100%
  height: 1px
  background: $background
  position: absolute
  top: 14px

.product-cart-price__price
  font-size: 28px
  color: $background
  font-family: $fontfamilyLR

.product-cart-buy
  background: $backgroundSubscr
  padding: 15px 20px
  font-family: $fontfamilyLL
  color: $background
  font-size: 14px
  text-transform: capitalize
  box-sizing: border-box

.product-cart-buy-quantity label
  position: relative

.product-cart-buy-quantity label:after
  content: "\f2f9"
  font-family: 'Material-Design-Iconic-Font'
  font-size: 22px
  background: $white
  position: absolute
  width: 18px
  height: 15px
  right: 15px
  top: 2px
  color: $breadcrubsColor
  text-align: center
  vertical-align: middle
  line-height: 15px
  z-index: 1
  pointer-events: none

.product-cart-buy.content
  overflow: visible

.product-cart-buy:after
  clear: both
  display: table
  content: " "

.product-cart-buy-quantity__select
//  margin: 0 10px
//  padding: 5px
//  height: 35px
//  box-sizing: border-box
  color: $breadcrubsColor
//  font-family: $fontfamilyLL
//  border: 1px solid $borderColor3
//  cursor: pointer
  width: 95px

.product-cart-buy-add-to-cart__favorite, .product-cart-buy-add-to-cart__compare
  width: 40px
  height: 40px
  display: inline-block
  text-align: center
  line-height: 40px
  vertical-align: middle
  color: $prod-cart-a-color
  background: $white
  font-size: 20px
  border: 1px solid $borderColor3
  transition: $transition

.product-cart-buy-add-to-cart__favorite:hover, .product-cart-buy-add-to-cart__compare:hover
  background: $background
  color: $fontColor
  border-color: $background

.product-cart-buy-add-to-cart__button
  height: 40px
  border: none
  margin: 0 10px
  padding: 0 20px
  box-sizing: border-box
  text-transform: uppercase
  font-size: 12px
  color: $white
  background: $fontColor
  font-family: $fontfamilyLR
  cursor: pointer
  transition: $transition

.product-cart-buy-add-to-cart__button:hover
  background: $background
  color: $fontColor

.product-cart-features
  margin: 40px 0
  font-family: $fontfamilyLL
  font-size: 14px

.product-cart-feature-item__span
  color: $breadcrubsColor

.product-cart-features a
  color: $background
  text-decoration: none

.product-cart-follow
  margin-bottom: 40px
  color: $background
  font-family: $fontfamilyLL
  border-top: 1px solid $borderColor3
  padding-top: 40px

.product-cart-follow a
  display: inline-block
  width: 40px
  height: 40px
  line-height: 40px
  color: $breadcrubsColor
  text-align: center
  vertical-align: middle
  font-size: 18px
  border: 1px solid $borderColor3
  transition: $transition

.product-cart-follow a:hover
  background: $background
  color: $fontColor
  border-color: $background

.product-cart-follow a:first-child
  margin-left: 15px

.product-page-description-tabs__ul
  padding-left: 0
  list-style: none
  border-bottom: 1px solid $borderColor2
  padding-bottom: 5px

.product-page-description-tabs__ul li
  display: inline-block

.product-page-description-tabs__ul li a
  font-size: 16px
  text-decoration: none
  color: $breadcrubsColor
  margin-right: 40px
  font-family: $fontfamilyLL
  position: relative

.product-page-description-tabs__ul li a.active
  color: $background

.product-page-description-tabs__ul li a.active:after
  content: ''
  width: 100%
  height: 1px
  background: $background
  position: absolute
  left: 0
  bottom: -7px

.product-page-description-content-title
  margin: 30px 0
  color: $background
  font-size: 20px
  text-transform: uppercase
  font-family: $fontfamilyLL

.product-page-description-content > div
  display: none

.product-page-description-content > div.active
  display: block

.product-page-review-item
  padding: 20px
  border: 1px solid $borderColor3
  margin-bottom: 20px

.product-page-review-item-img
  float: left
  margin-right: 20px

.product-page-review-autor-name
  color: $background
  font-size: 14px
  text-decoration: none
  margin-right: 10px
  font-family: $fontfamilyLR

.product-page-review-data
  color: $breadcrubsColor
  font-family: $fontfamilyLL

.product-page-review-item-desc
  color: $background
  font-family: $fontfamilyLL
  font-size: 14px
  width: calc(100% - 245px)
  float: left

.product-page-review-add-review-input-fields
  width: 50%
  float: left
  padding-right: 10px
  box-sizing: border-box

.product-page-review-add-review-input-fields input
  width: 100%
  padding: 15px
  box-sizing: border-box
  border: 1px solid $borderColor3
  margin-bottom: 20px
  font-size: 14px
  font-family: $fontfamilyLL

.product-page-review-add-review-area-fields
  width: 50%
  float: left
  padding-left: 10px
  box-sizing: border-box

.product-page-review-add-review-area-fields textarea
  width: 100%
  height: 119px
  padding: 15px
  box-sizing: border-box
  font-size: 14px
  border: 1px solid $borderColor3
  font-family: $fontfamilyLL
  resize: none

.product-page-review-add-review-title
  margin: 50px 0 30px 0
  text-transform: uppercase
  font-size: 20px
  color: $background
  font-family: $fontfamilyLL

.product-page-review-add-review-rating
  color: #8c8c8c
  font-size: 14px
  margin: 15px 0
  font-family: $fontfamilyLL

.product-page-review-add-review-rating input
  display: none

.product-page-review-add-review-rating label
  margin: 0 20px
  font-size: 20px
  color: $add-review-color
  cursor: pointer
  vertical-align: middle

.product-page-review-add-review-rating label:hover .zmdi-star-outline:before
    content: '\f27d'

.product-page-review-add-review-rating input:checked + label .zmdi-star-outline:before
  content: '\f27d'

.product-page-review-add-review__submit
  padding: 15px 20px
  border: none
  background: $fontColor
  font-size: 12px
  color: #fff
  text-transform: uppercase
  cursor: pointer
  width: 120px
  box-sizing: border-box
  font-family: $fontfamilyLR