/* ----- COLORS ----- */
$fontColor: #ccb48e
$borderColor: #706757
$background: #333
$backgroundSubscr: #f6f4f0
$backgroundCopyright: #272727
$catBackgrColor: #f6f4f0
$breadcrubsColor: #8c8c8c
$borderColor2: #e8e8e8
$borderColor3: #e5e5e5
$white: #fff
$prod-cart-a-color: #8f8f8f
$add-review-color: #484848
$cart-popup-color-1: #b9b9b9
$cart-popup-color-2: #e5e5e5


/* ----- FONTS ----- */
$fontfamilyLL: 'Lato-Light'
$fontfamilyAN: 'Audrey-Normal'
$fontfamilyLR: 'Lato-Regular'


/* ----- TRANSITION ----- */
$transition: all .5s
