@import variables
@import fonts
@import header
@import main-block
@import footer
@import category
@import product


body
    margin: 0
    padding: 0

.content
    width: 100%
    overflow: hidden

.row
    width: 1180px
    padding: 0 10px
    box-sizing: border-box
    margin: 0 auto

.row:after
    clear: both
    display: table
    content: " "

.fl
    float: left

.fr
    float: right