@charset "UTF-8";
/* ----- Lato-Light ----- */
@font-face {
  font-family: "Lato-Light";
  src: url(../fonts/Lato-Light.ttf); }
/* ----- Lato-Light ----- */
@font-face {
  font-family: "Lato-Regular";
  src: url(../fonts/LatoRegular.ttf); }
/* ----- Audrey-Normal ----- */
@font-face {
  font-family: "Audrey-Normal";
  src: url(../fonts/Audrey-Normal.otf); }
header {
  overflow: hidden;
  z-index: 2;
  position: relative; }

.top-nav {
  overflow: hidden;
  padding: 10px 0;
  background: #333;
  font-family: "Lato-Light";
  font-size: 14px; }

.language-block, .currency-block {
  float: left;
  position: relative; }

.language-block:after, .currency-block:after {
  content: "";
  font-family: "Material-Design-Iconic-Font";
  font-size: 22px;
  background: #333;
  position: absolute;
  width: 18px;
  height: 18px;
  right: 10px;
  top: 0;
  color: #ccb48e;
  text-align: center;
  vertical-align: middle;
  line-height: 18px;
  z-index: 1;
  pointer-events: none; }

.language-block {
  padding-right: 15px;
  border-right: 1px solid #706757; }

.currency-block {
  padding-left: 15px;
  padding-right: 15px; }

.language-block__select, .currency-block__select {
  border: none;
  background: #333;
  color: #ccb48e;
  outline: none;
  cursor: pointer; }

.header-buttons a {
  padding: 0 15px;
  text-decoration: none;
  color: #ccb48e;
  border-right: 1px solid #706757; }

.header-buttons a:last-child {
  padding-right: 0;
  border-right: none; }

.header-buttons a i {
  margin-right: 10px;
  font-size: 20px;
  vertical-align: middle; }

.header-menu {
  padding: 25px 0;
  background: rgba(255, 255, 255, 0.9); }

.header-menu .row {
  display: flex;
  justify-content: space-between; }

.header-logo a {
  font-size: 22px;
  font-family: "Audrey-Normal";
  text-transform: uppercase;
  text-decoration: none;
  color: #333; }

.header-menu_menu ul {
  padding: 0;
  margin: 0; }

.header-menu_menu ul li {
  list-style: none;
  display: inline-block; }

.header-menu_menu ul li a {
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: none;
  color: #333;
  padding: 20px;
  font-family: "Lato-Light";
  position: relative; }

.header-menu_menu ul li a.select:before {
  content: "";
  height: 1px;
  width: calc(100% - 40px);
  background: #333;
  position: absolute;
  bottom: 15px; }

.header-menu_menu ul li a.bold {
  font-family: "Lato-Regular"; }

.header-rightButtons a {
  padding: 20px;
  position: relative; }

.header-rightButtons a i {
  font-size: 20px;
  color: #333; }

.header-rightButtons a span.count {
  position: absolute;
  top: 5px;
  right: -15px;
  background: #ccb48e;
  height: 20px;
  width: 20px;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
  font-family: "Lato-Light";
  font-size: 14px; }

.slider .owl-carousel {
  padding: 0;
  margin: 0; }

.block-up {
  top: -76px;
  position: relative; }

.slider .owl-carousel li {
  list-style: none;
  width: 100%; }

.promo {
  display: flex;
  justify-content: space-between; }

.promo-item {
  padding-right: 20px; }

.promo-item:nth-child(3n) {
  padding-right: 0; }

.promo-item-title {
  position: absolute;
  padding: 20px;
  text-transform: uppercase;
  color: #fff;
  font-family: "Lato-Light"; }

.promo-item-title__title {
  color: #ccb48e; }

.home-product-title, .home-brand-title {
  padding: 40px 0;
  text-align: center;
  position: relative;
  font-family: "Lato-Light";
  color: #333;
  font-size: 22px; }

.home-product-title:before, .home-brand-title:before {
  content: "";
  position: absolute;
  height: 1px;
  background: #e8e8e8;
  width: 100%;
  left: 0;
  top: 55px; }

.home-product-title span, .home-brand-title span {
  background: #ffffff;
  position: relative;
  padding: 20px; }

.home-product-item {
  float: left;
  text-align: center;
  font-family: "Lato-Regular";
  color: #333;
  text-decoration: none;
  margin-right: 20px; }

.home-product-item:nth-child(5n) {
  margin-right: 0; }

.home-product-item-img {
  width: 273px;
  height: 273px;
  text-align: center;
  border: 1px solid #e5e5e5;
  line-height: 273px;
  position: relative;
  overflow: hidden; }

.home-product-item-img img {
  vertical-align: bottom;
  max-height: 100%; }

.home-product-item-title {
  padding: 10px;
  font-size: 14px; }

.home-product-item-price {
  padding: 10px;
  padding-top: 0;
  font-size: 18px; }

.home-product-item-price .old-price {
  font-family: "Lato-Light";
  color: #333;
  font-size: 14px;
  margin-right: 20px;
  text-decoration: line-through; }

.home-product-item__button {
  padding: 15px 20px;
  border: none;
  background: #ccb48e;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer; }

.home-product-item-img-badge {
  position: absolute;
  height: 100px;
  line-height: 170px;
  width: 100px;
  background: #f6f4f0;
  vertical-align: bottom;
  right: -50px;
  top: -50px;
  transform: rotate(45deg);
  text-transform: uppercase;
  color: #ccb48e; }

.home-brand-container {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  margin-bottom: 80px; }

.subscribe {
  padding: 35px 0;
  background: #f6f4f0;
  font-family: "Lato-Light"; }

.subscribe .row {
  display: flex;
  justify-content: space-between; }

.subscribe-title {
  font-size: 20px;
  width: 50%;
  line-height: 50px;
  vertical-align: middle; }

.subscribe-form {
  width: 50%;
  padding-left: 10px;
  box-sizing: border-box; }

input.subscribe-form__input {
  padding: 15px;
  vertical-align: middle;
  border: solid 1px #e5e5e5;
  width: calc(100% - 120px);
  box-sizing: border-box; }

.subscribe-form__button {
  padding: 15px 20px;
  border: none;
  background: #ccb48e;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  width: 120px;
  box-sizing: border-box;
  margin-left: -4px;
  height: 47px; }

.footer-menu {
  background: #333; }

ul.footer-menu-category__flvlul {
  padding: 0;
  margin: 40px 0;
  list-style: none;
  font-family: "Lato-Light";
  border-bottom: 1px solid #5c5c5c;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between; }

ul.footer-menu-category__flvlul > li {
  color: #fff;
  text-transform: uppercase; }

ul.footer-menu-category__slvlul {
  margin: 0;
  padding: 17px;
  list-style: square;
  color: #ccb48e;
  text-transform: none; }

ul.footer-menu-category__slvlul a {
  color: #ccb48e;
  font-size: 14px;
  text-decoration: none;
  line-height: 25px; }

.footer-menu-links {
  display: flex;
  justify-content: space-between; }

.footer-menu-links-follow, .footer-menu-links-accept {
  width: 50%;
  margin-bottom: 40px;
  color: #fff;
  font-family: "Lato-Light"; }

.footer-menu-links-follow a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  border: 1px solid #5c5c5c; }

.footer-menu-links-accept a {
  display: inline-block;
  background: #fff;
  height: 40px;
  width: 70px;
  text-align: center;
  vertical-align: middle;
  line-height: 35px; }

.footer-menu-links-accept a img {
  vertical-align: middle; }

.footer-menu-links-follow a:first-child,
.footer-menu-links-accept a:first-child {
  margin-left: 15px; }

.footer-copyright {
  padding: 20px 0;
  color: #ccb48e;
  background: #272727;
  font-family: "Lato-Light"; }

/* ----- BREADCRUMBS ----- */
.breadcrumbs {
  background: #f6f4f0; }

.breadcrumbs ul {
  list-style: none;
  padding: 0; }

.breadcrumbs ul li {
  display: inline-block;
  color: #333;
  font-family: "Lato-Light";
  font-size: 14px; }

.breadcrumbs ul li a {
  text-decoration: none;
  color: #8c8c8c; }

/* ----- PRODUCT BLOCK ----- */
.caregory-title {
  border-bottom: 1px solid #e8e8e8;
  padding: 15px 0;
  margin: 30px 0;
  color: #333;
  font-family: "Lato-Light";
  font-size: 22px;
  font-weight: normal; }

.subcategory-title {
  color: #333;
  font-family: "Lato-Light";
  text-transform: uppercase;
  position: relative; }

.subcategory {
  border-bottom: solid 1px #e8e8e8; }

.hide__toggle:before {
  content: "";
  font-family: "Material-Design-Iconic-Font";
  position: absolute;
  font-size: 20px;
  right: 0;
  cursor: pointer; }

.hide .hide__toggle:before {
  content: ""; }

.hide .subcategory__ul, .hide .filter-param {
  height: 0;
  overflow: hidden; }

.subcategory__ul {
  padding-left: 20px;
  list-style: square;
  font-family: "Lato-Light"; }

.subcategory__ul li {
  color: #8c8c8c; }

.subcategory__ul a {
  text-decoration: none;
  color: #8c8c8c;
  line-height: 30px; }

.subcategory__ul li.active, .subcategory__ul li.active a {
  color: #333; }

/* ----- FILTERS ----- */
.filters {
  width: 280px;
  float: left;
  margin-right: 20px; }

.filter-title {
  color: #333;
  font-family: "Lato-Light";
  text-transform: uppercase;
  position: relative; }

.filter {
  border-bottom: solid 1px #e8e8e8;
  padding: 20px 0; }

.filter-param {
  margin-top: 15px; }

.filter-param__input {
  display: none; }

.filter-param__label {
  display: block;
  margin-bottom: 15px;
  color: #8c8c8c;
  font-family: "Lato-Light";
  font-size: 14px;
  padding-left: 25px;
  position: relative;
  cursor: pointer; }

.filter-param__label:before {
  content: "";
  font-family: "Material-Design-Iconic-Font";
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid #8c8c8c;
  left: 0;
  text-align: center;
  font-size: 16px;
  vertical-align: middle;
  line-height: 15px; }

.filter-param__input:checked + label::before {
  content: ""; }

.column-2 {
  column-count: 2; }

/* ----- PRODUCT-SORT ----- */
.product-sort {
  margin-bottom: 20px;
  background: #f6f4f0;
  padding: 20px;
  box-sizing: border-box;
  font-family: "Lato-Light";
  color: #333;
  font-size: 14px; }

.product-sort-sort, .product-sort-show {
  margin-right: 40px;
  position: relative; }

.product-sort-sort select, .product-sort-show select {
  margin: 0 10px;
  padding: 5px;
  height: 35px;
  box-sizing: border-box;
  color: #8c8c8c;
  font-family: "Lato-Light";
  border: 1px solid #e5e5e5;
  cursor: pointer; }

.product-sort-sort select {
  width: 150px; }

.product-sort-show select {
  width: 100px; }

.product-sort-sort:after, .product-sort-show:after {
  content: "";
  font-family: "Material-Design-Iconic-Font";
  font-size: 22px;
  background: #fff;
  position: absolute;
  width: 18px;
  height: 31px;
  right: 15px;
  top: 2px;
  color: #8c8c8c;
  text-align: center;
  vertical-align: middle;
  line-height: 31px;
  z-index: 1;
  pointer-events: none; }

.product-sort-view__a {
  font-size: 28px;
  width: 35px;
  height: 35px;
  display: inline-block;
  text-align: center;
  line-height: 35px;
  vertical-align: middle;
  margin-left: 10px;
  color: #8c8c8c;
  border: 1px solid #f6f4f0; }

.product-sort-view__a.active {
  color: #333;
  background: #fff;
  border: 1px solid #e5e5e5; }

/* ----- PRODUCT-LIST ----- */
.product-list, .product-sort {
  width: calc(100% - 300px);
  float: left; }

.product-list .home-product-item-img {
  width: 271px; }

.product-list .home-product-item:nth-child(3n) {
  margin-right: 0; }

.product-list .home-product-item:nth-child(5n) {
  margin-right: 20px; }

.home-product-item {
  margin-bottom: 20px; }

.product-list.list .home-product-item {
  width: 100%; }

.product-list.list .home-product-item-img {
  float: left; }

.product-page-title {
  border-bottom: 1px solid #e8e8e8;
  padding: 15px 0;
  margin: 30px 0;
  color: #333;
  font-family: "Lato-Light";
  font-size: 22px;
  font-weight: normal; }

.product-image-block {
  width: 50%;
  padding-right: 10px;
  box-sizing: border-box;
  float: left; }

.product-main-image {
  text-align: center;
  border: 1px solid #e5e5e5; }

.product-main-image img {
  vertical-align: bottom; }

.product-small-image {
  display: flex;
  justify-content: space-between;
  margin-top: 20px; }

.product-small-image a {
  width: 30%;
  text-align: center;
  border: 1px solid #e5e5e5; }

.product-small-image a.active {
  border: 1px solid #ccb48e; }

.product-cart {
  width: 50%;
  padding-left: 10px;
  box-sizing: border-box;
  float: left; }

.product-cart-review-raiting {
  width: auto;
  float: left;
  margin-right: 10px; }

.product-cart-review-raiting i {
  font-size: 18px; }

.product-cart-review a {
  color: #8c8c8c;
  font-size: 14px;
  text-decoration: none;
  font-family: "Lato-Light";
  margin: 0 10px; }

.product-cart-description {
  margin: 35px 0;
  font-size: 14px;
  color: #333;
  font-family: "Lato-Light";
  line-height: 1.5; }

.product-car-sku {
  width: 50%;
  float: left;
  font-family: "Lato-Light";
  color: #333;
  font-size: 14px;
  text-transform: capitalize; }

.product-car-sku label {
  position: relative; }

.product-car-sku__select {
  margin: 0 10px;
  padding: 5px;
  height: 35px;
  box-sizing: border-box;
  color: #8c8c8c;
  font-family: "Lato-Light";
  border: 1px solid #e5e5e5;
  cursor: pointer;
  width: 70%; }

.product-car-sku label:after {
  content: "";
  font-family: "Material-Design-Iconic-Font";
  font-size: 22px;
  background: #fff;
  position: absolute;
  width: 18px;
  height: 15px;
  right: 15px;
  top: 2px;
  color: #8c8c8c;
  text-align: center;
  vertical-align: middle;
  line-height: 15px;
  z-index: 1;
  pointer-events: none; }

.product-cart-price {
  margin: 40px 0; }

.product-cart-price__compare-price {
  font-size: 20px;
  color: #333;
  font-family: "Lato-Light";
  margin-right: 20px;
  position: relative; }

.product-cart-price__compare-price:before {
  content: "";
  width: 100%;
  height: 1px;
  background: #333;
  position: absolute;
  top: 14px; }

.product-cart-price__price {
  font-size: 28px;
  color: #333;
  font-family: "Lato-Regular"; }

.product-cart-buy {
  background: #f6f4f0;
  padding: 15px 20px;
  font-family: "Lato-Light";
  color: #333;
  font-size: 14px;
  text-transform: capitalize;
  box-sizing: border-box; }

.product-cart-buy-quantity label {
  position: relative; }

.product-cart-buy-quantity label:after {
  content: "";
  font-family: "Material-Design-Iconic-Font";
  font-size: 22px;
  background: #fff;
  position: absolute;
  width: 18px;
  height: 15px;
  right: 15px;
  top: 2px;
  color: #8c8c8c;
  text-align: center;
  vertical-align: middle;
  line-height: 15px;
  z-index: 1;
  pointer-events: none; }

.product-cart-buy-quantity__select {
  margin: 0 10px;
  padding: 5px;
  height: 35px;
  box-sizing: border-box;
  color: #8c8c8c;
  font-family: "Lato-Light";
  border: 1px solid #e5e5e5;
  cursor: pointer;
  width: 60px; }

.product-cart-buy-add-to-cart__favorite, .product-cart-buy-add-to-cart__compare {
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
  color: #8f8f8f;
  background: #fff;
  font-size: 20px;
  border: 1px solid #e5e5e5; }

.product-cart-buy-add-to-cart__button {
  height: 40px;
  border: none;
  margin: 0 10px;
  padding: 0 20px;
  box-sizing: border-box;
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
  background: #ccb48e;
  font-family: "Lato-Regular";
  cursor: pointer; }

.product-cart-features {
  margin: 40px 0;
  font-family: "Lato-Light";
  font-size: 14px; }

.product-cart-feature-item__span {
  color: #8c8c8c; }

.product-cart-features a {
  color: #333;
  text-decoration: none; }

.product-cart-follow {
  margin-bottom: 40px;
  color: #333;
  font-family: "Lato-Light";
  border-top: 1px solid #e5e5e5;
  padding-top: 40px; }

.product-cart-follow a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #8c8c8c;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  border: 1px solid #e5e5e5; }

.product-cart-follow a:first-child {
  margin-left: 15px; }

.product-page-description-tabs__ul {
  padding-left: 0;
  list-style: none;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 5px; }

.product-page-description-tabs__ul li {
  display: inline-block; }

.product-page-description-tabs__ul li a {
  font-size: 16px;
  text-decoration: none;
  color: #8c8c8c;
  margin-right: 40px;
  font-family: "Lato-Light";
  position: relative; }

.product-page-description-tabs__ul li a.active {
  color: #333; }

.product-page-description-tabs__ul li a.active:after {
  content: "";
  width: 100%;
  height: 1px;
  background: #333;
  position: absolute;
  left: 0;
  bottom: -7px; }

.product-page-description-content-title {
  margin: 30px 0;
  color: #333;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Lato-Light"; }

.product-page-description-content > div {
  display: none; }

.product-page-description-content > div.active {
  display: block; }

.product-page-review-item {
  padding: 20px;
  border: 1px solid #e5e5e5;
  margin-bottom: 20px; }

.product-page-review-item-img {
  float: left;
  margin-right: 20px; }

.product-page-review-autor-name {
  color: #333;
  font-size: 14px;
  text-decoration: none;
  margin-right: 10px;
  font-family: "Lato-Regular"; }

.product-page-review-data {
  color: #8c8c8c;
  font-family: "Lato-Light"; }

.product-page-review-item-desc {
  color: #333;
  font-family: "Lato-Light";
  font-size: 14px;
  width: calc(100% - 245px);
  float: left; }

.product-page-review-add-review-input-fields {
  width: 50%;
  float: left;
  padding-right: 10px;
  box-sizing: border-box; }

.product-page-review-add-review-input-fields input {
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
  margin-bottom: 20px;
  font-size: 14px;
  font-family: "Lato-Light"; }

.product-page-review-add-review-area-fields {
  width: 50%;
  float: left;
  padding-left: 10px;
  box-sizing: border-box; }

.product-page-review-add-review-area-fields textarea {
  width: 100%;
  height: 119px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border: 1px solid #e5e5e5;
  font-family: "Lato-Light";
  resize: none; }

.product-page-review-add-review-title {
  margin: 50px 0 30px 0;
  text-transform: uppercase;
  font-size: 20px;
  color: #333;
  font-family: "Lato-Light"; }

.product-page-review-add-review-rating {
  color: #8c8c8c;
  font-size: 14px;
  margin: 15px 0;
  font-family: "Lato-Light"; }

.product-page-review-add-review-rating input {
  display: none; }

.product-page-review-add-review-rating label {
  margin: 0 20px;
  font-size: 20px;
  color: #484848;
  cursor: pointer;
  vertical-align: middle; }

.product-page-review-add-review-rating label:hover .zmdi-star-outline:before {
  content: ""; }

.product-page-review-add-review__submit {
  padding: 15px 20px;
  border: none;
  background: #ccb48e;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  width: 120px;
  box-sizing: border-box;
  font-family: "Lato-Regular"; }

body {
  margin: 0;
  padding: 0; }

.content {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box; }

.row {
  width: 1180px;
  padding: 0 10px;
  box-sizing: border-box;
  margin: 0 auto; }

.row:after {
  clear: both;
  display: table;
  content: " "; }

.fl {
  float: left; }

.fr {
  float: right; }

.mb-80 {
  margin-bottom: 80px; }

.clear-both {
  clear: both; }

/*# sourceMappingURL=main.css.map */
